.datatable .col {
  cursor: pointer;
}

.datatable .col .pointer:after {
  font-size: 79%;
  content: "";
  margin-right: 17px;
}

.datatable .col .pointer:hover:after {
  font-size: 79%;
  content: "🔻";
  margin-right: 0;
}